@use "mixin" as m;

.access {
    background-image: url(../../asset/photo/backmarina.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
    @include m.mq(tab) {
background-size: 120%;}
    h2 {
        color: #c93c27;
    }

    div {
        width: 80%;
        display: flex;

        @include m.mq(tab) {
            margin: 0 auto;
        }

        .googlemap {
            // position: relative;
            margin-left: 10%;
            width: 60%;
            height: 450px;

            @include m.mq(tab) {
                height: 350px;
                margin-left: 0;
                width: 70%;
            }
        }

        dl {
            position: relative;
            left: 8%;
            color: #fff;

            @include m.mq(tab) {
                width: 100%;
                left: 12%;
            }

            dt {
                font-size: 250%;
                margin-bottom: 15%;

                @include m.mq(tab) {
                    font-size: 180%;
                    margin-bottom: 10%;
                }
            }

            dd {
                li {
                    font-size: 120%;
                    list-style-type: none;
                    margin: 5% 0;

                    @include m.mq(tab) {
                        font-size: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    table {
        border-collapse: collapse;
        height: 20%;
        width: 70%;
        margin: 2% 15%;
        @include m.mq(tab) {
            width: 80%;
            margin: 2% auto;
        }
        /* セルの線を重ねる */
        tr {

            // height: 120%;
            th {
                background-color: #deedfd;

                color: #2c67ea;
                border: 2px solid #c2dcf6;
                width: 30%;
                padding: 2%;

                @include m.mq(tab) {
                    font-size: 90%;
                }
            }

            td {
                background-color: #fff;

                border: 2px solid #c2dcf6;
                font-size: 100%;
                padding: 2% 0% 2% 5%;

                @include m.mq(tab) {
                    font-size: 65%;
                }

                li {
                    list-style-type: none;
                    margin: 1% 0;
                }
            }
        }
    }
}















@include m.mq(mon) {
    .access {
        background-image: url(../../asset/photo/backmarina.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 8%;
        @include m.mq(tab) {
    background-size: 120%;}
        h2 {
            color: #c93c27;
        }
    
        div {
            width: 80%;
            display: flex;
    
            @include m.mq(tab) {
                margin: 0 auto;
            }
    
            .googlemap {
                // position: relative;
                margin-left: 10%;
                width: 60%;
                height: 450px;
    
                @include m.mq(tab) {
                    height: 350px;
                    margin-left: 0;
                    width: 70%;
                }
            }
    
            dl {
                position: relative;
                left: 8%;
                color: #fff;
    
                @include m.mq(tab) {
                    width: 100%;
                    left: 12%;
                }
    
                dt {
                    font-size: 250%;
                    margin-bottom: 15%;
    
                    @include m.mq(tab) {
                        font-size: 180%;
                        margin-bottom: 10%;
                    }
                }
    
                dd {
                    li {
                        font-size: 120%;
                        list-style-type: none;
                        margin: 5% 0;
    
                        @include m.mq(tab) {
                            font-size: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        table {
            border-collapse: collapse;
            height: 20%;
            width: 70%;
            margin: 2% 15%;
            @include m.mq(tab) {
                width: 80%;
                margin: 2% auto;
            }
            /* セルの線を重ねる */
            tr {
    
                // height: 120%;
                th {
                    background-color: #deedfd;
    
                    color: #2c67ea;
                    border: 2px solid #c2dcf6;
                    width: 30%;
                    padding: 2%;
    
                    @include m.mq(tab) {
                        font-size: 90%;
                    }
                }
    
                td {
                    background-color: #fff;
    
                    border: 2px solid #c2dcf6;
                    font-size: 100%;
                    padding: 2% 0% 2% 5%;
    
                    @include m.mq(tab) {
                        font-size: 65%;
                    }
    
                    li {
                        list-style-type: none;
                        margin: 1% 0;
                    }
                }
            }
        }
    }
}




















@include m.mq(pc) {

    .access {
        background-image: url(../../asset/photo/backmarina.jpg);
        background-repeat: no-repeat;
        background-size: 130%;
        padding-bottom: 8%;
        h2 {
            color: #c93c27;
        }
    
        div {
            width: 80%;
            display: flex;
                            align-items: center;

    
            .googlemap {
                // position: relative;
                margin-left: 10%;
                width: 60%;
                height: 400px;
            }
            dl {
                position: relative;
                left: 8%;
                color: #fff;
                dt {
                    font-size: 180%;
                    margin-bottom: 15%;
                }
        dd {
                    li {
                        list-style-type: none;
                        margin: 5% 0;
                            font-size: 100%;
                            width: 100%;
                        
                    }
                }
            }
        }
    
        table {
            border-collapse: collapse;
            height: 20%;
                width: 80%;
                margin: 2% auto;
            
            /* セルの線を重ねる */
            tr {
    
                // height: 120%;
                th {
                    background-color: #deedfd;
    
                    color: #2c67ea;
                    border: 2px solid #c2dcf6;
                    width: 30%;
                    padding: 2%;
                        font-size: 90%;
                }
    
                td {
                    background-color: #fff;
    
                    border: 2px solid #c2dcf6;
                    font-size: 100%;
                    padding: 2% 0% 2% 5%;
                        font-size: 65%;
                    li {
                        list-style-type: none;
                        margin: 1% 0;
                    }
                }
            }
        }
    }
}
@include m.mq(tab) {
    .access {
        background-image: url(../../asset/photo/backmarina.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 8%;
        @include m.mq(tab) {
    background-size: 120%;}
        h2 {
            color: #c93c27;
        }
    
        div {
            width: 80%;
            display: flex;
    
            @include m.mq(tab) {
                margin: 0 auto;
            }
    
            .googlemap {
                // position: relative;
                margin-left: 10%;
                width: 60%;
                height: 450px;
    
                @include m.mq(tab) {
                    height: 350px;
                    margin-left: 0;
                    width: 70%;
                }
            }
    
            dl {
                position: relative;
                left: 8%;
                color: #fff;
    
                @include m.mq(tab) {
                    width: 100%;
                    left: 12%;
                }
    
                dt {
                    font-size: 250%;
                    margin-bottom: 15%;
    
                    @include m.mq(tab) {
                        font-size: 180%;
                        margin-bottom: 10%;
                    }
                }
    
                dd {
                    li {
                        font-size: 120%;
                        list-style-type: none;
                        margin: 5% 0;
    
                        @include m.mq(tab) {
                            font-size: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        table {
            border-collapse: collapse;
            height: 20%;
            width: 70%;
            margin: 2% 15%;
            @include m.mq(tab) {
                width: 80%;
                margin: 2% auto;
            }
            /* セルの線を重ねる */
            tr {
    
                // height: 120%;
                th {
                    background-color: #deedfd;
    
                    color: #2c67ea;
                    border: 2px solid #c2dcf6;
                    width: 30%;
                    padding: 2%;
    
                    @include m.mq(tab) {
                        font-size: 90%;
                    }
                }
    
                td {
                    background-color: #fff;
    
                    border: 2px solid #c2dcf6;
                    font-size: 100%;
                    padding: 2% 0% 2% 5%;
    
                    @include m.mq(tab) {
                        font-size: 65%;
                    }
    
                    li {
                        list-style-type: none;
                        margin: 1% 0;
                    }
                }
            }
        }
    }
}
// @include m.mq(tabi) {
//     .access {
//         background-image: url(../../asset/photo/backmarina.jpg);
//         background-repeat: no-repeat;
//         background-size: 100%;
//         padding-bottom: 8%;
//         @include m.mq(tab) {
//     background-size: 120%;}
//         h2 {
//             color: #c93c27;
//         }
    
//         div {
//             width: 80%;
//             display: flex;
    
//             @include m.mq(tab) {
//                 margin: 0 auto;
//             }
    
//             .googlemap {
//                 // position: relative;
//                 margin-left: 10%;
//                 width: 60%;
//                 height: 450px;
    
//                 @include m.mq(tab) {
//                     height: 350px;
//                     margin-left: 0;
//                     width: 70%;
//                 }
//             }
    
//             dl {
//                 position: relative;
//                 left: 8%;
//                 color: #fff;
    
//                 @include m.mq(tab) {
//                     width: 100%;
//                     left: 12%;
//                 }
    
//                 dt {
//                     font-size: 250%;
//                     margin-bottom: 15%;
    
//                     @include m.mq(tab) {
//                         font-size: 180%;
//                         margin-bottom: 10%;
//                     }
//                 }
    
//                 dd {
//                     li {
//                         font-size: 120%;
//                         list-style-type: none;
//                         margin: 5% 0;
    
//                         @include m.mq(tab) {
//                             font-size: 100%;
//                             width: 100%;
//                         }
//                     }
//                 }
//             }
//         }
    
//         table {
//             border-collapse: collapse;
//             height: 20%;
//             width: 70%;
//             margin: 2% 15%;
//             @include m.mq(tab) {
//                 width: 80%;
//                 margin: 2% auto;
//             }
//             /* セルの線を重ねる */
//             tr {
    
//                 // height: 120%;
//                 th {
//                     background-color: #deedfd;
    
//                     color: #2c67ea;
//                     border: 2px solid #c2dcf6;
//                     width: 30%;
//                     padding: 2%;
    
//                     @include m.mq(tab) {
//                         font-size: 90%;
//                     }
//                 }
    
//                 td {
//                     background-color: #fff;
    
//                     border: 2px solid #c2dcf6;
//                     font-size: 100%;
//                     padding: 2% 0% 2% 5%;
    
//                     @include m.mq(tab) {
//                         font-size: 65%;
//                     }
    
//                     li {
//                         list-style-type: none;
//                         margin: 1% 0;
//                     }
//                 }
//             }
//         }
//     }
// }
@include m.mq(tabm) {
    .access {
        background-image: url(../../asset/photo/backmarina.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 8%;
        @include m.mq(tab) {
    background-size: 120%;}
        h2 {
            color: #c93c27;
        }
    
        div {
            width: 80%;
            display: flex;
    
            @include m.mq(tab) {
                margin: 0 auto;
            }
    
            .googlemap {
                // position: relative;
                margin-left: 10%;
                width: 60%;
                height: 450px;
    
                @include m.mq(tab) {
                    height: 350px;
                    margin-left: 0;
                    width: 70%;
                }
            }
    
            dl {
                position: relative;
                left: 8%;
                color: #fff;
    
                @include m.mq(tab) {
                    width: 100%;
                    left: 12%;
                }
    
                dt {
                    font-size: 250%;
                    margin-bottom: 15%;
    
                    @include m.mq(tab) {
                        font-size: 180%;
                        margin-bottom: 10%;
                    }
                }
    
                dd {
                    li {
                        font-size: 120%;
                        list-style-type: none;
                        margin: 5% 0;
    
                        @include m.mq(tab) {
                            font-size: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        table {
            border-collapse: collapse;
            height: 20%;
            width: 70%;
            margin: 2% 15%;
            @include m.mq(tab) {
                width: 80%;
                margin: 2% auto;
            }
            /* セルの線を重ねる */
            tr {
    
                // height: 120%;
                th {
                    background-color: #deedfd;
    
                    color: #2c67ea;
                    border: 2px solid #c2dcf6;
                    width: 30%;
                    padding: 2%;
    
                    @include m.mq(tab) {
                        font-size: 90%;
                    }
                }
    
                td {
                    background-color: #fff;
    
                    border: 2px solid #c2dcf6;
                    font-size: 100%;
                    padding: 2% 0% 2% 5%;
    
                    @include m.mq(tab) {
                        font-size: 65%;
                    }
    
                    li {
                        list-style-type: none;
                        margin: 1% 0;
                    }
                }
            }
        }
    }
}
@include m.mq(sp) {
    .access {
        background-image: url(../../asset/photo/backmarina.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 8% 0;
    background-size: 320%;
    @include m.mq(sps) {
        background-size: 390%;
    }
h2{padding-top: 10%;
    @include m.mq(sps) {
        padding-top: 30%;
    }}
    
        div {
            width: 80%;
            display: block;

                margin: 0 auto;
    
            .googlemap {
                // position: relative;
                margin-left: 0;
                width: 100%;
                height: 200px;
            }
    
            dl {
                position: relative;

                    width: 100%;
                    left: 0;

    
                dt {
                        font-size: 170%;
                        margin-bottom: 10%;
                    }
                
    
                dd {
                    li {
                        font-size: 120%;
                        list-style-type: none;
                        margin: 5% 0;
    
                        @include m.mq(tab) {
                            font-size: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        table {
            border-collapse: collapse;
            height: 20%;
                width: 90%;
                margin: 2% 2.5%;
            
            /* セルの線を重ねる */
            tr {
    
                // height: 120%;
                th {
                    background-color: #deedfd;
                    display: block;
                    justify-content: center;
                    color: #2c67ea;
                    border: 2px solid #c2dcf6;
                    text-align: center;
                    width: 100%;
                    padding: 2%;

                        font-size: 100%;
                    
                }
    
                td {
                    background-color: #fff;
                    display: block;
                    justify-content: center;
                    border: 2px solid #c2dcf6;
                    font-size: 80%;
                    padding: 2%;
                    width: 100%;

    
                    li {
                        list-style-type: none;
                        margin: 1% 0;
                    }
                }
            }
        }
    }
}