@use "mixin" as m;

details summary::-webkit-details-marker {
    display: none;
}
   



@include m.mq(mon) {
    .attention {
        h2 {
            color: #d6a050;
        }

        h3 {
            text-align: center;
            color: #30579c;
            margin: 0 0 2% 0;
            margin-top: 3%;
            font-size: 120%;
        }

        summary {
            font-weight: normal;
            display: flex;
            align-items: center;

            strong {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 250%;
                color: #30579c;
                margin-right: 5%;
            }
        }

        p {
            display: flex;
            align-items: center;

            strong {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 300%;
                color: #e0ad64;
                margin: 0 3% 0 0.5%;
            }
        }

        h4 {
            text-align: center;
            font-size: 120%;
            color: #30579c;
            margin: 2% 0;
        }

        .goriyo {
                    // width: 50%;
            text-align: center;
            margin: 0 auto;
            // padding-left: 10%;
            font-size: 90%;
        }

        .colona {
            // width: 60%;
            margin: 0 auto;
            padding-bottom: 5%;
            text-align: center;
            @include m.mq(tab) {
                margin: 0 24%;
            }
        }
        ul{
            
                display: inline-block;
                text-align: left;
        }
    }

    .QandA {
        margin: 5% 0;
    }

    /*アコーディオン全体のスタイル*/
    .c-accordion {
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 80px;
        border-style: solid;
        border-width: 4px;
        border-color: #464646;
        margin-bottom: 32px;

        /*タイトルのデザインと「＋」ボタン*/
        &_ttl {
            background-image: url(../../asset/photo/prass.svg);
            background-position: right 24px center;
            background-size: 28px;
            background-repeat: no-repeat;
            list-style: none;
            cursor: pointer;
            color: #464646;
            font-weight: bold;
            padding: 2% 4%;
            font-size: 120%;
            cursor: pointer;

        }

        /*開いているときに適用するスタイル*/
        &[open] &_ttl {
            background-image: url(../../asset/photo/minus.svg);
        }

        /*開いときの中身のテキスト*/
        &_txt {
            padding: 3%;
            padding-top: 0;
            margin-top: 0;
            color: #464646;
            animation: fadeIn 0.5s ease;
        }
        @keyframes fadeIn {
            0% {
              opacity: 0; /* 透明 */
              transform: translateY(-10px); /* 上から表示 */
            }
            100% {
              opacity: 1;
              transform: none;
            }
          }
    }
}

@include m.mq(pc) {
    .attention {
        h2 {
            color: #d6a050;
        }

        h3 {
            text-align: center;
            color: #30579c;
            margin: 0 0 2% 0;
            margin-top: 3%;
            font-size: 120%;
        }

        summary {
            font-weight: normal;
            display: flex;
            align-items: center;

            strong {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 250%;
                color: #30579c;
                margin-right: 5%;
            }
        }

        p {
            display: flex;
            align-items: center;

            strong {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 280%;
                color: #e0ad64;
                margin: 0 3% 0 0.5%;
            }
        }

        h4 {
            text-align: center;
            font-size: 120%;
            color: #30579c;
            margin: 2% 0;
        }

        .goriyo {
            // width: 50%;
    text-align: center;
    margin: 0 auto;
    // padding-left: 10%;
    font-size: 90%;
}

.colona {
    // width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
    @include m.mq(tab) {
        margin: 0 24%;
    }
}
ul{
    
        display: inline-block;
        text-align: left;
}
}

    .QandA {
        margin: 5% 0;
    }

    /*アコーディオン全体のスタイル*/
    .c-accordion {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 80px;
        border-style: solid;
        border-width: 4px;
        border-color: #464646;
        margin-bottom: 32px;

        /*タイトルのデザインと「＋」ボタン*/
        &_ttl {
            background-image: url(../../asset/photo/prass.svg);
            background-position: right 24px center;
            background-size: 28px;
            background-repeat: no-repeat;
            list-style: none;
            cursor: pointer;
            color: #464646;
            font-weight: bold;
            padding: 2% 4%;
            font-size: 90%;
            cursor: pointer;

        }

        /*開いているときに適用するスタイル*/
        &[open] &_ttl {
            background-image: url(../../asset/photo/minus.svg);
        }

        /*開いときの中身のテキスト*/
        &_txt {
            padding: 3%;
            padding-top: 0;
            margin-top: 0;
            color: #464646;
        }
    }
}

@include m.mq(tab) {
    .attention {
        h2 {
            color: #e09d3d;
        }

        h3 {
            text-align: center;
            color: #30579c;
            font-size: 120%;
            margin: 0 0 2% 0;

            margin-top: 3%;
        }

        summary {
            font-weight: normal;
            display: flex;
            align-items: center;

            strong {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 250%;
                color: #30579c;
                margin-right: 5%;
            }
        }

        p {
            display: flex;
            align-items: center;

            strong {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 280%;
                color: #e0ad64;
                margin: 0 3% 0 0.5%;
            }
        }

        h4 {
            text-align: center;
            font-size: 120%;
            color: #30579c;
            margin: 2% 0;
        }


        .goriyo {
            width: 90%;
    text-align: center;
    margin: 0 auto;
    // padding-left: 10%;
    font-size: 90%;
}

.colona {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
    font-size: 90%;

    @include m.mq(tab) {
        margin: 0 24%;
    }
}
ul{
    
        display: inline-block;
        text-align: left;
}
}

    .QandA {
        margin: 5% 0;
    }

    /*アコーディオン全体のスタイル*/
    .c-accordion {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 80px;
        border-style: solid;
        border-width: 3px;
        border-color: #464646;
        margin-bottom: 32px;

        max-width: 500px;
        // height: ;

        /*タイトルのデザインと「＋」ボタン*/
        &_ttl {
            background-image: url(../../asset/photo/prass.svg);
            background-position: right 24px center;
            background-size: 28px;
            background-repeat: no-repeat;
            list-style: none;
            cursor: pointer;
            color: #464646;
            font-weight: bold;
            padding: 2% 4%;
            font-size: 90%;
        }

        /*開いているときに適用するスタイル*/
        &[open] &_ttl {
            background-image: url(../../asset/photo/minus.svg);
        }

        /*開いときの中身のテキスト*/
        &_txt {
            padding-top: 0;
            margin-top: 0;
            color: #464646;
            padding: 2%;
        }
    }
}

@include m.mq(tabi) {}

@include m.mq(sp) {
        .attention {
            h3 {
                text-align: center;
                font-size: 120%;
                margin: 0 0 2% 0;
    
                // margin-top: 3%;
            }
    
            summary {
                font-weight: normal;
                display: flex;
                align-items: center;
    
                strong {
                    font-family: amaranth, serif;
                    font-weight: 700;
                    font-size: 200%;
                    color: #30579c;
                    margin-right: 5%;
                }
            }
    
            p {

    
                strong {
                    font-family: amaranth, serif;
                    font-weight: 700;
                    font-size: 280%;
                    margin: 0 3% 0 0.5%;
                }
            }
    
            h4 {
                font-size: 120%;
                margin: 2% 0;

                @include m.mq(sps) {
                    font-size: 100%;
                }
            }
    
            
        .goriyo {
            // width: 50%;
    text-align: center;
    margin: 0 auto;
    // padding-left: 10%;
    font-size: 90%;
}

.colona {
    // width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
}
ul{
    
        display: inline-block;
        text-align: left;
}
}
    
        .QandA {
            margin: 5% 0;
        }
    
        /*アコーディオン全体のスタイル*/
        .c-accordion {
            width: 80%;
            
            border-width: 2px;
            border-color: #464646;
            margin-bottom: 32px;
    
            max-width: 500px;
            // height: ;
    
            /*タイトルのデザインと「＋」ボタン*/
            &_ttl {
                background-position: right 8px center;
                background-size: 18px;
                list-style-type: none;
                cursor: pointer;
                color: #464646;
                font-weight: bold;
                padding: 2% 4%;
                font-size: 16px;
                
                @include m.mq(spm) {
                    font-size: 12px;
            }
            }
    
            /*開いているときに適用するスタイル*/
            &[open] &_ttl {
                background-image: url(../../asset/photo/minus.svg);
            }
            /*開いときの中身のテキスト*/
            &_txt {
                padding-top: 0;
                margin-top: 0;
                color: #464646;
                padding: 2%;
                @include m.mq(spm) {
                    font-size: 12px;
            }
                @include m.mq(sps) {
                    font-size: 10px;
            }
        }
            @include m.mq(spl) {
                strong{font-size: 100%;}
            span{
                padding-right: 10%;
                font-size: 12px;}
            }
        }
        }
        @include m.mq(sps) {
            .c-accordion span {
                padding-right: 10%;
                font-size: 10px;
            }
    }