@use "mixin" as m;

*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic',amaranth,sans-serif;
    font-weight: 500;


}
img{
    width: 100%;
    // height: auto;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-style: regular;
    font-size: 90%;
    line-height:300%;
    color: #464646;


}
h2{
    margin-left:10% ;
    font-family: amaranth, serif;
    font-size: 4em;
    font-weight: 700;
    b{
        font-family: amaranth, serif;
        font-weight: 700;
        font-size: 150%;
        }
        @include m.mq(tab) {
            font-size: 400%;
        }
        @include m.mq(sp) {
            font-size: 300%;
        }
}
// html{
//     // width: 100%;
// }
// #root{
// height: 100%;
// }
