@use "mixin" as m;

.content {

    h2 {
        color: #c93c27;
    }

    h3 {
        text-align: center;
        color: #30579c;
        font-size: 200%;

        @include m.mq(tab) {
            font-size: 150%;
        }
    }

    p {
        text-align: center;
        margin: 2% 0;


        strong {
            font-family: amaranth, serif;
            font-size: 500%;
            color: #c93c27;
            font-weight: 700;
        }
    }

    .tyui {
        text-align: center;

    }


    button {
        position: relative;
        left: 41%;
        width: 18%;
        height: 60px;
        border-radius: 50px;
        background-color: #e0ad64;
        border: none;
        margin: 2% 0;

        @include m.mq(tab) {
            width: 24%;
            left: 37.5%;
            height: 50px;
        }

        a {
            color: #fff;
            font-size: 90%
        }
    }

    .banner {
        display: flex;
        width: 80%;
        margin: 0 0 0 20%;

        @include m.mq(tab) {
            width: 90%;
            margin: 0 5%;
        }

        li {

            width: 15%;
            height: auto;
            list-style-type: none;
            margin: 5%;

            @include m.mq(tab) {
                width: 24%;

            }

        }
    }





























}