// footer{

//     background-image: url(../../asset/photo/Subtract.svg);
//     background-repeat: no-repeat;
//     background-size: 100%;
//     position: relative;
//     // bottom: 10%;
// padding-bottom: 10%;

//     p{
//         position: absolute;
//         top: 76%;
//         left: 44%;
//         text-align: center;
//         color: #000;
//     }
// }
@use "mixin" as m;

footer{

    background-color: #6992b7;
    display: flex;
    justify-content: center;
    p{
        color: #fff;
        text-align: center;
    }

    .backtop{
        display: none;
        position: absolute;
        background-color: transparent;
        // // color: #464646;
        // // font-size: 300%;
        border: none;
        right: 3%;
        // bottom: 10%;
        width: 10%;
        
    }
}