@use "mixin" as m;
header{
    position: relative;
button{
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #30579c;
    top: 6%;
    left: 85%;
    min-width: 130px;
    height: 40px;
    a{
    font-size: 120%;
    color: #30579c;
    }
    z-index: 9999;
    @include m.mq(pc){
left: 75%;                        }

    @include m.mq(sp){
    display: none;
                    }
    }
    .phone{
        display: none;
        top: 1%;
        left: 80%;
        min-width: 50px;
        width: 50px;
        height: 50px;
        img{
            width: 60%;
        text-align: center;
        margin: auto;
        padding-top: 10%;
    }
        @include m.mq(sp){
            display: block;
                            }
    }
}

img{
    width: 100%;
    height: auto;

    // position: relative;
    // z-index: 999;
}
h1{
    margin-bottom: -9px;
    .firstviewsp{display: none;}
    @include m.mq(sp) {
        .firstviewsp{
display: block;}
.firstview{display: none;}
}
}

