
$blue:#30579c;
$orange:#e0ad64;
$yellow:#f9db85;
$red-orange:#d75f2d;
$red:#c93c27;
$white-red:#d15e4a;
$sky-blue:#6299f8;
$watet-blue:#2c67ea;
$water:#58c1f9;
$sky:#deedfd;
$black:#464646;
$white:#fff;