$breakpoint: (
  sps:'screen and (max-width: 320px)',
  spm:'screen and (max-width: 375px)',
  spl:'screen and (max-width: 428px)',
  spll:'screen and (max-width: 500px)',
  sp: 'screen and (max-width: 600px)',
  tabm:'screen and (max-width: 700px)',
  tabi:'screen and (max-width: 768px)',
  tab: 'screen and (max-width: 900px)',
  pc: 'screen and (max-width: 1200px)',
  mon:'screen and (min-width: 1201px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}









$blue:#30579c;
$orange:#e0ad64;
$yellow:#ebe1c8;
$red-orange:#d75f2d;
$red:#de432b;
$white-red:#d15e4a;
$sky-blue:#6299f8;
$watet-blue:#2c67ea;
$water:#58c1f9;
$sky:#deedfd;
$black:#464646;
$white:#fff;
$brown:#8f5c36;
$light-brown:#c89039;