// $tab:768;
@use "mixin" as m;
// overflow: hidden;

.servise {
    position: relative;
    background-image: url("../../asset/photo/backsea.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    // overflow: hidden;
    padding-bottom: 10%;
    @include m.mq(tab) {
background-size: 170%;
padding-bottom: 1%;
    }

    .suncafe {
        position: relative;
        padding-top: 6%;


        h3 {
            font-family: amaranth, Bree, serif;
            font-size: 400%;

            font-weight: 700;
            position: absolute;
            color: #e0ad64;
            top: 15%;
            left: 44%;

            b {
                font-family: amaranth, Bree, serif;
                font-weight: bold;
                font-size: 150%;
            }

            @include m.mq(tab) {
                font-size: 250%;
            }
        }

        .SuncafeParadise {
            display: flex;

            img {
                width: 55%;
                height: auto;
                padding-left: 1%;

                @include m.mq(tab) {
                    width: 50%;
                }
            }

            p {
                margin-top: 8%;
                margin-left: 3%;
                color: #fff;

                @include m.mq(tab) {
                    font-size: 80%;
                }
            }
        }
    }

    .suncafecharm {
        h3 {
            color: #fff;
            font-size: 230%;
            text-align: center;
            background: linear-gradient(transparent 40%, #30579c 40%);
            width: 50%;
            height: 100%;
            // position: relative;
            // left: 25%;
            margin: 3% 25%;

            @include m.mq(tab) {
                font-size: 180%;
                width: 70%;
                margin: 3% auto;
            }
        }

        .Features {
            display: inline-flex;
            position: relative;
            left: 9%;
            width: 90%;
            

            @include m.mq(tab) {
                display: block;
                width: 90%;
                margin: 0 0 5% 0;
            }

            .feature {
                width: 20%;
                padding: 1.2% 5% 3% 1.2%;
                // margin: 0 0.5%;
                background-color: #fff;
                color: #30579c;

                @include m.mq(tab) {
                    display: flex;
                    width: 90%;
                    img {
                        width: 40%;
                        height: auto;
                        margin-right: 1%;
                    }
                        margin-bottom: 2%;
                        padding: 1%;
                }

                dt {
                    font-size: 130%;
                    margin-bottom: 8%;

                    @include m.mq(tab) {
                        font-size: 170%;
                        margin-bottom: 5%;
                    }
                }

                dd {
                    font-size: 80%;
                    line-height: 200%;
                    padding: 1.2% 1.2% 3% 1.2%;

                    @include m.mq(tab) {
                        font-size: 110%;
                        margin-bottom: 5%;
                    }

                }
            }
        }
    }

















}