@use "mixin" as m;

@include m.mq(mon) {
    .situetion {
        background-color: #deedfd;
        // background-image: url(../../asset/photo/Frame.jpg);
        // background-repeat: no-repeat;
        // background-size: 120%;
        padding-bottom: 5%;
        // overflow: hidden;
        position: relative;

        h2 {
            color: #e0ad64;
        }

        h3 {
            color: #30579c;
            font-family: amaranth, serif;
            font-weight: bold;
            background: linear-gradient(transparent 40%, #fff 40%);
            font-size: 337%;
            position: absolute;
            width: 13%;
            left: 30%;
            // top: 88%;
            margin-top: 26%;
            z-index: 99;

            //     top: 330px;
            //     font-size: 300%;

            // @include m.mq(tab) {
            //     width: 15%;
            //     font-size: 250%;
            //     top: 330px;
            //     left: 25%;

            // }

            b {
                font-family: amaranth, serif;
                font-weight: bold;
                font-size: 130%;
            }
        }

        .mySwiper {
            // margin-right: 30%;
            // position: relative;
            max-width: 1400px;

            // right: 25%;
            .swiper-wrapper {
                width: 80%;
                // padding-bottom: 2%;
            }

            .seasonslide,
            .partyslide {
                background-color: #deedfd;
                display: flex;
                align-items: center;
                width: 50%;
                padding: 0 0 5% 0;
                position: relative;

                .slideimg {
                    position: relative;
                    text-align: center;
                    width: 30%;
                    margin-left: 10%;

                    // @include m.mq(tab) {
                    //     width: 35%;

                    // }

                    img.wave {
                        position: inherit;
                        bottom: 70px;

                        // @include m.mq(pc) {
                        //     bottom: 70px;
                        //     width: 110%;
                        //     right: 4%;
                        // }

                        // @include m.mq(tab) {
                        //     width: 110%;
                        //     bottom: 70px;
                        //     margin-left: -4%;
                        // }
                    }
                }

                .slidetext {
                    margin-left: 10%;

                    // @include m.mq(tab) {
                    //     margin-left: 4%;
                    // }
                }
            }

            h4 {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 240%;
                color: #6299f8;
                background: linear-gradient(transparent 0%, #fff 0%);
                position: absolute;
                top: 80%;
                z-index: 99;
                align-items: center;

                // @include m.mq(pc) {
                //     top: 330px;
                //     font-size: 200%;

                // }

                // @include m.mq(tab) {
                //     top: 330px;
                //     font-size: 220%;
                // }
            }

            #Spring {
                h4 {
                    right: 62.5%;
                }

                // @include m.mq(tab) {
                //     h4 {
                //         right: 62.3%;
                //     }

                //     h5 {
                //         width: 70%;
                //     }

                //     .point div {
                //         width: 85%;
                //     }
                // }
            }

            #Summer {
                h4 {
                    right: 60.8%;

                    dl div {
                        margin: 5% 0;
                    }
                }

                // @include m.mq(tab) {
                //     h4 {
                //         right: 59.4%;
                //     }

                //     .point div {
                //         width: 85%;
                //     }

                // }
            }

            #Autumn {
                h4 {
                    right: 60.8%;
                }

                // @include m.mq(tab) {
                //     h4 {
                //         right: 59.5%;
                //     }

                //     h5 {
                //         width: 100%;
                //     }
                // }
            }

            #Winter {
                h4 {
                    right: 62%;
                }

                // @include m.mq(tab) {
                //     h4 {
                //         right: 61.7%;
                //     }

                //     h5 {
                //         width: 95%;
                //     }
                // }
            }

            #Company {
                h4 {
                    right: 59.5%;

                    // @include m.mq(tab) {
                    //     right: 58%;
                    // }
                }
            }

            #Family {
                h4 {
                    right: 62.2%;
                }

                // @include m.mq(tab) {
                //     h5 {
                //         width: 70%;
                //     }

                //     dd {
                //         font-size: 100%;
                //     }
                // }
            }

            #Woman {
                h4 {
                    right: 59.8%;

                    dl div {
                        margin: 10% 0;
                    }
                }

                // @include m.mq(tab) {
                //     h4 {
                //         right: 58.2%;
                //     }

                //     dl div {
                //         margin: 6% 0;
                //     }

                //     h5 {
                //         width: 80%;
                //     }

                // }
            }

            h5 {
                font-size: 180%;
                background: linear-gradient(transparent 60%, #fff 60%);
                color: #30579c;

                // @include m.mq(tab) {
                //     font-size: 130%;
                // }
            }

            dl {
                div {
                    display: flex;
                    margin: 8% 0;
                    align-items: center;

                    dd {
                        color: #c93c27;
                        font-size: 110%;
                    }

                    // @include m.mq(tab) {
                    //     margin: 4% 0;
                    // }
                }
            }

            .point {
                div {
                    background: linear-gradient(transparent 60%, #fff 60%);

                    dt {
                        font-family: amaranth, serif;
                        font-size: 180%;
                        font-weight: bold;
                    }

                    dd {
                        font-size: 130%;

                        font-size: 100%;
                    }
                }
            }
        }

        li {
            list-style-type: none;
            font-size: 105%;
            margin: 7% 0;
        }
    }
}

// .swiper-slide-next{
//     left: 0%;
//     // img{
//     // // z-index: 3;
// }}
// .swiper-slide-prev{
//     left: 9%;
// //     img{
// //     // z-index: 2;
// // }}
// .swiper-slide-active{
//     // width: 30%;
//     img{
//         position: relative;
//         // z-index: 99;
// width:110%;
// // margin-right: 10%;
// }
// }

// }

@include m.mq(pc) {
    .situetion {
        background-color: #deedfd;
        padding-bottom: 5%;

        position: relative;

        h2 {
            color: #e0ad64;
        }

        h3 {
            color: #30579c;
            font-family: amaranth, serif;
            font-weight: bold;
            background: linear-gradient(transparent 40%, #fff 40%);
            font-size: 337%;
            position: relative;
            width: 16%;
            left: 30%;
            z-index: 99;

            top: 20rem;
            font-size: 300%;

            b {
                font-family: amaranth, serif;
                font-weight: bold;
                font-size: 130%;
            }
        }

        .mySwiper {
            width: 100%;
            // margin-right: 30%;
            position: relative;
            top: 10%;

            // right: 25%;
            .swiper-wrapper {
                width: 80%;
                // padding-bottom: 2%;
            }

            .seasonslide,
            .partyslide {
                background-color: #deedfd;
                display: flex;
                align-items: center;
                width: 50%;
                padding: 0 0 5% 0;
                position: relative;

                .slideimg {
                    position: relative;
                    text-align: center;
                    width: 30%;
                    margin-left: 10%;

                    img.wave {
                        position: inherit;
                        bottom: 70px;
                        width: 110%;
                        right: 4%;
                    }
                }

                .slidetext {
                    margin-left: 10%;
                }
            }

            h4 {
                font-family: amaranth, serif;
                font-weight: 700;
                color: #6299f8;
                background: linear-gradient(transparent 0%, #fff 0%);
                position: absolute;
                z-index: 99;
                align-items: center;
                top: 20rem;
                font-size: 200%;
                padding: 0 1% 0 0;
            }

            #Spring {
                h4 {
                    right: 59.8%;
                }
            }

            #Summer {
                h4 {
                    right: 57.7%;

                    dl div {
                        margin: 4% 0;
                    }
                }

                //     h4 {
                //         right: 59.4%;
                //     }

                //     .point div {
                //         width: 85%;
                //     }

                // }
            }

            #Autumn {
                h4 {
                    right: 57.7%;
                }
            }

            #Winter {
                h4 {
                    right: 59.3%;
                }

                // }
            }

            #Company {
                h4 {
                    right: 56.2%;
                }
            }

            #Family {
                h4 {
                    right: 59.4%;
                }

                dl div {
                    margin: 6% 0;
                }
            }

            #Woman {
                h4 {
                    right: 56.5%;

                    dl div {
                        margin: 10% 0;
                    }
                }
            }

            h5 {
                font-size: 1.5rem;
                background: linear-gradient(transparent 60%, #fff 60%);
                color: #30579c;
            }

            dl {
                div {
                    display: flex;
                    margin: 8% 0;
                    align-items: center;

                    dd {
                        color: #c93c27;
                        font-size: 110%;
                    }
                }
            }

            .point {
                div {
                    background: linear-gradient(transparent 60%, #fff 60%);

                    dt {
                        font-family: amaranth, serif;
                        font-size: 180%;
                        font-weight: bold;
                    }

                    dd {
                        font-size: 130%;
                    }
                }
            }

            li {
                list-style-type: none;
                font-size: 105%;
                margin: 7% 0;
            }
        }
    }
}

@include m.mq(tab) {
    .situetion {
        background-color: #deedfd;
        // background-image: url(../../asset/photo/Frame.jpg);
        // background-repeat: no-repeat;
        // background-size: 120%;
        padding-bottom: 5%;
        // overflow: hidden;
        position: relative;

        h2 {
            color: #e0ad64;
        }

        h3 {
            color: #30579c;
            font-family: amaranth, serif;
            font-weight: bold;
            background: linear-gradient(transparent 40%, #fff 40%);
            font-size: 337%;
            position: relative;
            z-index: 99;

            width: 15%;
            font-size: 250%;
            top: 290px;
            left: 25%;
            @include m.mq(tabi) {
                top: 270px;
            }

            b {
                font-family: amaranth, serif;
                font-weight: bold;
                font-size: 130%;
            }
        }

        .mySwiper {
            max-width: 1200px;
            // margin-right: 30%;
            position: relative;
            top: 10%;

            // right: 25%;
            .swiper-wrapper {
                width: 80%;
                // padding-bottom: 2%;
            }

            .seasonslide,
            .partyslide {
                background-color: #deedfd;
                display: flex;
                align-items: center;
                width: 50%;
                padding: 0 0 5% 0;
                position: relative;
                 @include m.mq(tabi) {
                padding-bottom: 10%;
            }

                .slideimg {
                    position: relative;
                    text-align: center;
                    width: 30%;
                    margin-left: 10%;

                    // @include m.mq(tab) {
                    //     width: 35%;

                    // }

                    img.wave {
                        position: inherit;
                        bottom: 63px;

                        @include m.mq(tabi) {
                            bottom: 50px;
                            width: 110%;
                        }

                        // @include m.mq(tab) {
                        //     width: 110%;
                        //     bottom: 70px;
                        //     margin-left: -4%;
                        // }
                    }
                }

                .slidetext {
                    margin-left: 10%;
                    @include m.mq(tabi) {
margin-left: 5%;                    }

                    // @include m.mq(tab) {
                    //     margin-left: 4%;
                    // }
                }
            }

            h4 {
                font-family: amaranth, serif;
                font-weight: 700;
                font-size: 240%;
                color: #6299f8;
                background: linear-gradient(transparent 0%, #fff 0%);
                position: absolute;
                z-index: 99;
                align-items: center;
                top: 290px;
                font-size: 220%;
                @include m.mq(tabi) {
                    top: 270px;
                }
            }

            #Spring {
                h4 {
                    right: 62.5%;
                }

                h5 {
                    width: 70%;
                }

                .point div {
                    width: 100%;
                }
            }

            #Summer {
                h4 {
                    right: 60%;
                }

                .point div {
                    width: 100%;
                }
            }

            #Autumn {
                h4 {
                    right: 59.5%;
                }

                h5 {
                    width: 100%;
                }

                dl div {
                    margin: 6% 0;

                    @include m.mq(tabi) {
                        margin: 4% 0;
                    }
                }
            }

            #Winter {
                h4 {
                    right: 61.7%;
                }

                h5 {
                    width: 95%;
                }
            }

            #Company {
                h4 {
                    right: 58%;
                }
            }

            #Family {
                h4 {
                    right: 62.2%;
                }

                h5 {
                    width: 70%;
                }

                dd {
                    font-size: 100%;
                }
            }

            #Woman {
                h4 {
                    right: 57%;
                }

                dl div {
                    margin: 6% 0;
                }

                h5 {
                    width: 80%;
                }
            }

            h5 {
                background: linear-gradient(transparent 60%, #fff 60%);
                color: #30579c;
                font-size: 130%;

                @include m.mq(tabi) {
                    font-size: 110%;
                }
            }

            dl {
                div {
                    display: flex;
                    margin: 4% 0;
                    align-items: center;

                    dd {
                        color: #c93c27;
                        font-size: 110%;
                    }
                }
            }

            .point {
                div {
                    background: linear-gradient(transparent 60%, #fff 60%);

                    dt {
                        font-family: amaranth, serif;
                        font-size: 180%;
                        font-weight: bold;
                    }

                    dd {
                        font-size: 100%;
                    }
                }
            }

            li {
                list-style-type: none;
                font-size: 105%;
                margin: 7% 0;

                @include m.mq(tabi) {
                    bottom: 50px;
                    font-size: 90%;
                }
            }
        }
    }
}

@include m.mq(sp) {
    .situetion {
        background-color: #deedfd;
        // background-image: url(../../asset/photo/Frame.jpg);
        // background-repeat: no-repeat;
        // background-size: 120%;
        padding-bottom: 5%;
        // overflow: hidden;
        position: relative;

        h2 {
            color: #e0ad64;
        }

        h3 {
            font-size: 300%;
            position: relative;
            z-index: 3;

            width: 45%;
            top: 290px;
            left: 15%;

           


            b {
                font-family: amaranth, serif;
                font-weight: bold;
                font-size: 130%;
            }
        }

        .mySwiper {
            max-width: 1200px;
            // margin-right: 30%;
            position: relative;
            top: 0%;

            // right: 25%;
            .swiper-wrapper {
                width: 80%;
                // padding-bottom: 2%;
            }

            .seasonslide,
            .partyslide {
                background-color: #deedfd;
                display: block;
                align-items: center;
                width: 90%;
                padding: 0 0 5% 0;
                position: relative;

                .slideimg {
                    position: relative;
                    text-align: center;
                    width: 70%;
                    margin-left: 0;
                    margin: 0 auto;

                    // @include m.mq(tab) {
                    //     width: 35%;

                    // }

                    img.wave {
                        position: inherit;
                        bottom: 63px;

                        // @include m.mq(pc) {
                        //     bottom: 70px;
                        //     width: 110%;
                        //     right: 4%;
                        // }

                        // @include m.mq(tab) {
                        //     width: 110%;
                        //     bottom: 70px;
                        //     margin-left: -4%;
                        // }
                    }
                }

                .slidetext {
                    margin-left: 2%;
                    margin-top: 20%;

                    // @include m.mq(tab) {
                    //     margin-left: 4%;
                    // }
                }
            }

            h4 {
                font-family: amaranth, serif;
                font-weight: 700;
                // color: #6299f8;
                // background: linear-gradient(transparent 0%, #fff 0%);
                // position: absolute;
                z-index: 999;
                align-items: center;
                // top: 250px;
                font-size: 220%;
            }

            #Spring {
                h4 {
                    right: 22.5%;
                }

                h5 {
                    width: 70%;
                }

                .point div {
                    width: 100%;
                }
            }

            #Summer {
                h4 {
                    right: 20%;
                }

                .point div {
                    width: 100%;
                }
            }

            #Autumn {
                h4 {
                    right: 19.5%;
                }

                h5 {
                    width: 100%;
                }

                dl div {
                    margin: 6% 0;
                }
            }

            #Winter {
                h4 {
                    right: 21.7%;
                }

                h5 {
                    width: 95%;
                }
            }

            #Company {
                h4 {
                    right: 14%;
                }
            }

            #Family {
                h4 {
                    right: 22.2%;
                }

                h5 {
                    width: 70%;
                }

                dd {
                    font-size: 100%;
                }
            }

            #Woman {
                h4 {
                    right: 14%;
                }

                dl div {
                    margin: 6% 0;
                }

                h5 {
                    width: 80%;
                }
            }

            h5 {
                background: linear-gradient(transparent 60%, #fff 60%);
                color: #30579c;
                font-size: 115%;
                margin-top: 10%;
                text-align: left;
            }

            dl {
                div {
                    display: flex;
                    margin: 4% 0;
                    align-items: center;

                    dd {
                        color: #c93c27;
                        font-size: 110%;
                    }
                }
            }

            .point {
                div {
                    background: linear-gradient(transparent 60%, #fff 60%);

                    dt {
                        font-family: amaranth, serif;
                        font-size: 180%;
                        font-weight: bold;
                    }

                    dd {
                        font-size: 110%;
                    }
                }
            }

            li {
                list-style-type: none;
                font-size: 90%;
                margin: 7% 0;
            }
        }
    }
}