@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", amaranth, sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: regular;
  font-size: 90%;
  line-height: 300%;
}

h2 {
  margin-left: 10%;
  font-family: amaranth, serif;
  font-size: 500%;
  font-weight: 700;
}
h2 b {
  font-family: amaranth, serif;
  font-size: 150%;
}

html {
  width: 100%;
}

#root {
  height: 100%;
}

header button {
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #30579c;
  top: 6%;
  left: 85%;
  width: 11%;
  height: 6%;
  z-index: 9999;
}
header button a {
  font-size: 120%;
  color: #30579c;
}
header img {
  width: 100%;
  height: auto;
}
header h1 {
  margin-bottom: -9px;
}

.servise {
  background-image: url("../../asset/photo/backsea.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}
.servise .suncafe {
  position: relative;
  padding-top: 6%;
}
.servise .suncafe h3 {
  font-family: amaranth, Bree, serif;
  font-size: 400%;
  font-weight: 700;
  position: absolute;
  color: #e0ad64;
  top: 15%;
  left: 44%;
}
.servise .suncafe h3 b {
  font-family: amaranth, Bree, serif;
  font-size: 150%;
}
.servise .suncafe .SuncafeParadise {
  display: flex;
}
.servise .suncafe .SuncafeParadise img {
  width: 55%;
  height: auto;
  padding-left: 1%;
}
.servise .suncafe .SuncafeParadise p {
  margin-top: 8%;
  margin-left: 3%;
  color: #fff;
}
.servise .suncafecharm h3 {
  color: #fff;
  font-size: 230%;
  text-align: center;
  background-color: #30579c;
  width: 50%;
  height: 100%;
  position: relative;
  left: 25%;
  margin: 3% 0;
}
.servise .suncafecharm .Features {
  display: inline-flex;
  position: relative;
  left: 14%;
  width: 84%;
}
.servise .suncafecharm .Features .feature {
  width: 25%;
  padding: 1.2% 1.2% 3% 1.2%;
  margin: 0 0.5%;
  background-color: #fff;
  color: #30579c;
}
.servise .suncafecharm .Features .feature dt {
  font-size: 130%;
  margin-bottom: 8%;
}
.servise .suncafecharm .Features .feature dd {
  font-size: 80%;
  line-height: 200%;
}

.situetion {
  background-color: #deedfd;
}
.situetion h2 {
  color: #e0ad64;
}
.situetion img {
  width: 20%;
  height: auto;
}

.plan {
  position: relative;
  min-height: 100%;
  height: 100%;
  /*--スクロールをさせるため 高さ指定--*/
  background-size: cover;
  /*--背景画像のサイズ--*/
  background-attachment: fixed;
  /*--背景画像の固定--*/
  background-repeat: no-repeat;
  /*--背景画像の繰り返し--*/
  background-position: center center;
  /*--背景画像の位置--*/
  z-index: 2;
  padding: 5em 0;
  background-image: url(../../asset/photo/whitewood.jpg);
}
.plan .plannai {
  width: 80%;
  margin: 0 10%;
  background-color: #ffffff;
  overflow: hidden;
}
.plan .plannai li {
  list-style-type: none;
}
.plan .plannai h2 {
  color: #c93c27;
  margin: 2% 0 0 2%;
}
.plan .plannai p {
  text-align: center;
  color: #30579c;
}
.plan .plannai .time {
  display: flex;
  width: 31%;
  margin: 0 21.5%;
}
.plan .plannai .time dt {
  font-family: amaranth, serif;
  font-weight: 700;
  font-size: 300%;
}
.plan .plannai .time div {
  text-align: center;
  margin: 0 10%;
}
.plan .plannai .time .lunch dt {
  color: #58c1f9;
}
.plan .plannai .time .afternoon dt {
  color: #d75f2d;
}
.plan .plannai .time .dinner dt {
  color: #2c67ea;
}
.plan .plannai .h3menu {
  font-family: amaranth, serif;
  font-weight: 700;
  color: #d75f2d;
  font-size: 400%;
  text-align: center;
  margin: 3% 0;
}
.plan .plannai .menugrid {
  display: grid;
  grid-template-areas: "three three" "stan prem";
}
.plan .plannai .threehour {
  position: relative;
  background-image: url(../../asset/photo/sanzikan.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90%;
  margin: 5% 5% 0 5%;
  padding-bottom: 10%;
  grid-area: three;
}
.plan .plannai .threehour .new {
  position: absolute;
  color: #c93c27;
  font-weight: bold;
  font-size: 200%;
  font-family: amaranth, serif;
  bottom: 99%;
  left: 23%;
}
.plan .plannai .threehour .h4set {
  position: relative;
}
.plan .plannai .threehour h4 {
  font-size: 300%;
  font-weight: 550;
  color: #c93c27;
  position: absolute;
  bottom: -32px;
  left: 29%;
}
.plan .plannai .threehour h5 {
  font-family: amaranth, serif;
  color: #d15e4a;
  font-weight: 800;
  font-size: 700%;
  text-align: center;
  padding-top: 3%;
}
.plan .plannai .threehour h5 b {
  font-family: amaranth, serif;
  font-size: 60%;
  font-weight: 700;
}
.plan .plannai .threehour .drinkflex {
  display: flex;
  display: flex;
  margin: 5% 0 3% 7%;
  position: relative;
}
.plan .plannai .threehour .drinkflex img {
  width: 30%;
  margin: 0 8%;
}
.plan .plannai .threehour .menu {
  display: flex;
  margin: 0 0 0 16%;
}
.plan .plannai .threehour .menu div {
  position: relative;
}
.plan .plannai .threehour .menu .appetmenu {
  margin-left: 32%;
}
.plan .plannai .threehour .menu dt {
  font-size: 200%;
  color: #30579c;
}
.plan .plannai .threehour .menu dd {
  font-size: 130%;
  line-height: 200%;
}
.plan .plannai .standard {
  background-image: url(../../asset/photo/stanprem.svg);
  background-repeat: no-repeat;
  background-size: 99%;
  width: 90%;
  margin: 0 0 0 10%;
  padding-bottom: 10%;
  grid-area: stan;
}
.plan .plannai .standard .new,
.plan .plannai .standard .drinkflex {
  display: none;
}
.plan .plannai .standard h4 {
  font-family: amaranth, serif;
  font-weight: 700;
  color: #30579c;
  font-size: 300%;
  text-align: center;
  bottom: 25px;
  position: relative;
}
.plan .plannai .standard h5 {
  font-family: amaranth, serif;
  color: #2c67ea;
  font-weight: 800;
  font-size: 300%;
  text-align: center;
}
.plan .plannai .standard h5 b {
  font-family: amaranth, serif;
  font-size: 60%;
  font-weight: 700;
}
.plan .plannai .standard .menu {
  width: 80%;
  margin: 0 0 0 20%;
  padding-bottom: 5%;
}
.plan .plannai .standard .menu dt {
  margin: 5% 0 0 0;
  font-size: 160%;
  color: #30579c;
}
.plan .plannai .standard .menu dd {
  font-size: 110%;
  line-height: 200%;
}
.plan .plannai .premium {
  background-image: url(../../asset/photo/stanprem.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90%;
  margin: 0 5% 0 0;
  padding-bottom: 10%;
  grid-area: prem;
}
.plan .plannai .premium .new,
.plan .plannai .premium .drinkflex {
  display: none;
}
.plan .plannai .premium h4 {
  font-family: amaranth, serif;
  font-weight: 700;
  color: #d75f2d;
  font-size: 300%;
  text-align: center;
  bottom: 25px;
  position: relative;
}
.plan .plannai .premium h5 {
  font-family: amaranth, serif;
  color: #ec8756;
  font-weight: 800;
  font-size: 300%;
  text-align: center;
}
.plan .plannai .premium h5 b {
  font-family: amaranth, serif;
  font-size: 60%;
  font-weight: 700;
}
.plan .plannai .premium .menu {
  width: 80%;
  margin: 0 0 0 20%;
  padding-bottom: 5%;
}
.plan .plannai .premium .menu dt {
  margin: 5% 0 0 0;
  font-size: 160%;
  color: #30579c;
}
.plan .plannai .premium .menu dd {
  font-size: 110%;
  line-height: 200%;
}
.plan .plannai .softalcohol h3 {
  text-align: center;
  color: #30579c;
  margin: 4% 0;
}
.plan .plannai .softalcohol .drinkmenu {
  background-image: url(../../asset/photo/backdrink.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  padding-bottom: 20%;
  margin: 0 0 0 10%;
  display: grid;
  grid-template-areas: "alc sof" "tyui tyui";
}
.plan .plannai .softalcohol .drinkmenu img {
  width: 60%;
  margin: 0 10%;
  margin-top: 40%;
}
.plan .plannai .softalcohol .drinkmenu dt {
  font-size: 200%;
  color: #30579c;
}
.plan .plannai .softalcohol .drinkmenu dl {
  margin-left: 10%;
}
.plan .plannai .softalcohol .drinkmenu .alcoholmenu {
  grid-area: alc;
}
.plan .plannai .softalcohol .drinkmenu .alcoholmenu dd {
  display: flex;
}
.plan .plannai .softalcohol .drinkmenu .alcoholmenu dd ul:last-child {
  margin-left: 10%;
}
.plan .plannai .softalcohol .drinkmenu .softmenu {
  grid-area: sof;
}
.plan .plannai .softalcohol .drinkmenu .drinktyui {
  grid-area: tyui;
  text-align: center;
  margin-right: 15%;
}
.plan .plannai .softalcohol .drinkmenu .drinktyui p {
  margin: 5% 0 0 5%;
}
.plan .plannai .softalcohol .drinkmenu .drinktyui h4 {
  font-size: 200%;
  margin: 2% 0;
  margin-left: 3%;
}
.plan .plannai .softalcohol .drinkmenu .drinktyui ul {
  margin-left: 23%;
}
.plan .plannai .softalcohol .drinkmenu .drinktyui ul li {
  margin-bottom: 1%;
  text-align: left;
}

.plan.backgro {
  background-image: url(../../asset/photo/whitewood.jpg);
}

.access {
  background-image: url(../../asset/photo/backmarina.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 8%;
}
.access h2 {
  color: #c93c27;
}
.access div {
  width: 80%;
  display: flex;
}
.access div .googlemap {
  margin-left: 10%;
  width: 60%;
  height: 450px;
}
.access div dl {
  position: relative;
  left: 8%;
  color: #fff;
}
.access div dl dt {
  font-size: 250%;
  margin-bottom: 15%;
}
.access div dl dd li {
  font-size: 120%;
  list-style-type: none;
  margin: 5% 0;
}
.access table {
  border-collapse: collapse;
  height: 20%;
  width: 70%;
  margin: 2% 15%;
  /* セルの線を重ねる */
}
.access table tr th {
  background-color: #deedfd;
  color: #2c67ea;
  border: 2px solid #c2dcf6;
  width: 30%;
  padding: 2%;
}
.access table tr td {
  background-color: #fff;
  border: 2px solid #c2dcf6;
  font-size: 100%;
  padding: 2% 0% 2% 5%;
}
.access table tr td li {
  list-style-type: none;
  margin: 1% 0;
}

.content h2 {
  color: #c93c27;
}
.content h3 {
  text-align: center;
  color: #30579c;
  font-size: 200%;
}
.content p {
  text-align: center;
  margin: 2% 0;
}
.content p strong {
  font-family: amaranth, serif;
  font-size: 500%;
  color: #c93c27;
  font-weight: 700;
}
.content .tyui {
  text-align: center;
}
.content button {
  position: relative;
  left: 41%;
  width: 18%;
  height: 60px;
  border-radius: 50px;
  background-color: #e0ad64;
  border: none;
  margin: 2% 0;
}
.content button a {
  color: #fff;
}
.content .banner {
  display: flex;
  width: 80%;
  margin: 0 0 0 20%;
}
.content .banner li {
  width: 15%;
  height: auto;
  list-style-type: none;
  margin: 5%;
}

footer {
  background-color: #6992b7;
}
footer p {
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=main.css.map */